@media screen and (max-width: 800px) {
    /*ヘッダー*/
    header{
        position: fixed;
        background-color: white;
        width: 100%;
        overflow: hidden;
        z-index: 10;

    }
    #bgndVideo{
        z-index: -10;
    }
    #haikeid{
        margin: 0%;
        padding: 0%;
        z-index: -10;
        padding-top:27%; 
    }
    #haikeid p{
        color: white;
        font-size: 70px;
        margin: 0%;
        z-index: 1;
        text-align: center;
    }
    #logo,#logo img{
        float: left;
        padding-left: 2%;
        
        margin-top: 1.5%;
        padding-right: 0;
    }
    #logo img{
        max-width: 100%;
        width:80%;
    }
    hnav{

    }
    hnav ul,li{
        display: inline-block;
        list-style-type: none;
        font-size: 1.7vw;
        padding-top: 2%;
        margin: auto;
    }
    /*ヘッダー*/
    /*体験授業*/
    #taiken{
        display: flex;
        margin-left: 1%;
    }
    .system{
        width: 30%;
        margin: 1%;
    }
    .bisynesu{
        width: 30%;
        margin-right: 1%;
    }
    .design{
        width: 30%;
    }
    .taikenimg{
        width:100%;
    }

    /*参加者得点*/
    #sannkasya{
        display: flex;
    }
    #tokutenlogo{

    }
    .tokutennimg{
        width: 90%;
        max-width: 100%;
    }
    /*1日の流れ*/
    #nagare{
            margin:0,auto;
    }
    .nagare_item img{
        float: left;
        overflow: hidden;
    }
    footer{
       background-color: darkgrey;
       margin-top: 2%;
       padding-top:2%; 
       height: 100px;
    }
}
@media screen and (min-width: 801px) {
    
    header{
        position: fixed;
        background-color: white;
        width: 100%;
        overflow: hidden;
        padding: 0;
    }
    #bgndVideo{
        z-index: -10;
    }
    #haikeid{
        margin: 0%;
        padding: 0%;
        z-index: -10;
        padding-top:27%; 
    }
    #haikeid p{
        color: white;
        font-size: 70px;
        margin: 0%;
        z-index: 1;
        text-align: center;
    }
    #logo,#logo img{
        float: left;
        padding-left: 2%;
    }
    #logo img{
        width: 100%;
    }

    h1{
        margin-top: 1.5%;
        padding-right: 0;
        padding-left: 0;
    }
    hnav ul,li{
        display: inline-block;
        list-style-type: none;
        padding-left: 5%;
        padding-top: 2%;
        font-size: 1.8vw;
    }
    #taiken{
        display: flex;
    }
    /*体験授業*/
    #taiken{
        display: flex;
        width: 80%;
    }
    /*参加者得点*/
    #sannkasya{
        display: flex;
        width: 80%;
    }
     /*1日の流れ*/
     #nagare{
        
    }
     .nagare_item img{
        float: left;
        overflow: hidden;
    }
    #ma{
        margin: 0 auto;
        width: 70%;
    }
    footer{
        background-color: darkgrey;
        margin-top: 2%;
        padding-top:2%; 
        height: 100px;
     }
}