
body{
    font-family:'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic' ; 
    background-image: url(../imges/haikei2.jpg);
    background-size: 100%;

}
header{
    margin-top: 7%;
}
header h1{
    color: white;
    margin-top: 0;
    padding-top: 0;
    font-size: 7vw;
    text-align: center;
}
#gnav{
padding-top: 2%;
width: 100%;
position: fixed;
bottom: 0;
}
#navp{
display: flex;
padding: 0;
margin-top: 0;
margin-bottom: 0;
}
#navp li{
    width: 100%;
    list-style: none;
    font-size: 4vw;
    border:solid white 0.2vw;
    background-color: rgb(186, 181, 181);
   position: relative;
   
}
#navp li a{
    display: block;
    color: black;
    text-decoration: none;
    padding-top:13px;
    padding-bottom: 13px; 
    text-align: center;
}
.topg{
    margin-top:10%; 
    top:0;
    position: relative;
    z-index: 0;
}
.jiga img{
    width: 40%;
    border-radius: 20%;
}
footer{
    margin-bottom: 4%;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;  /* 背景カラー */
    z-index: 9999;  /* 一番手前に */
    pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
    opacity: 0;  /* 初期値 : 透過状態 */
    -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
    transition: opacity .8s ease;
  }
  body.fadeout::after {
    opacity: 1;
  }
  footer{
      padding-top:10%;
  }
@media screen and (min-width:768px){
    #navp li{
      font-size: 30px;
    }
}
